.catalogoProd {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    margin: 0;
    scroll-margin-top: 150px;
    background-color: #F8F8F6;
}

.catalogoProd .catalogoProductosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.catalogoProd .catalogoProductosContainer .categoriasActivas {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    height: 50px;
    overflow: hidden;
}

.catalogoProd .catalogoProductosContainer .categoriasProd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.catalogoProd .catalogoProductosContainer .categoriasActivas .categoriaTag {
    background-color: rgb(214, 138, 37);
    display: flex;
    align-items: center;
    justify-self: center;
    gap: .2rem;
    padding: .6rem;
    border-radius: 15px;
    border: 1px solid rgb(128, 62, 0);
}
.catalogoProd .catalogoProductosContainer .categoriasActivas .categoriaTag .closeCategorias{
    cursor: pointer;
}

.filtroResponsive {
    display: none;
}

@media (max-width:480px) {
    .catalogoProd {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .categoriasActivas {
        height: auto;
        flex-wrap: wrap;
    }

}