.embla {
  overflow: hidden;
  max-width: 600px; 
  margin: auto;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}